DU2_LB_Planovac/bin/Debug/net8.0/DU2_LB_Planovac.deps.json
DU2_LB_Planovac/bin/Debug/net8.0/DU2_LB_Planovac.dll
DU2_LB_Planovac/bin/Debug/net8.0/DU2_LB_Planovac.exe
DU2_LB_Planovac/bin/Debug/net8.0/DU2_LB_Planovac.pdb
DU2_LB_Planovac/bin/Debug/net8.0/DU2_LB_Planovac.runtimeconfig.json
DU2_LB_Planovac/obj/DU2_LB_Planovac.csproj.nuget.dgspec.json
DU2_LB_Planovac/obj/DU2_LB_Planovac.csproj.nuget.g.props
DU2_LB_Planovac/obj/DU2_LB_Planovac.csproj.nuget.g.targets
DU2_LB_Planovac/obj/project.assets.json
DU2_LB_Planovac/obj/project.nuget.cache
DU2_LB_Planovac/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
DU2_LB_Planovac/obj/Debug/net8.0/apphost.exe
DU2_LB_Planovac/obj/Debug/net8.0/DU2_LB_Planovac.AssemblyInfo.cs
DU2_LB_Planovac/obj/Debug/net8.0/DU2_LB_Planovac.AssemblyInfoInputs.cache
DU2_LB_Planovac/obj/Debug/net8.0/DU2_LB_Planovac.assets.cache
DU2_LB_Planovac/obj/Debug/net8.0/DU2_LB_Planovac.csproj.CoreCompileInputs.cache
DU2_LB_Planovac/obj/Debug/net8.0/DU2_LB_Planovac.csproj.FileListAbsolute.txt
DU2_LB_Planovac/obj/Debug/net8.0/DU2_LB_Planovac.dll
DU2_LB_Planovac/obj/Debug/net8.0/DU2_LB_Planovac.GeneratedMSBuildEditorConfig.editorconfig
DU2_LB_Planovac/obj/Debug/net8.0/DU2_LB_Planovac.genruntimeconfig.cache
DU2_LB_Planovac/obj/Debug/net8.0/DU2_LB_Planovac.GlobalUsings.g.cs
DU2_LB_Planovac/obj/Debug/net8.0/DU2_LB_Planovac.pdb
DU2_LB_Planovac/obj/Debug/net8.0/ref/DU2_LB_Planovac.dll
DU2_LB_Planovac/obj/Debug/net8.0/refint/DU2_LB_Planovac.dll
.vscode/settings.json
